.editIcon {
  font-size: 20px;
  color: #1890ff;
}

.detailIcon {
  font-size: 20px;
  color: #1890ff;
  margin-left: 30px;
  cursor: pointer;
}

.deleteIcon {
  font-size: 20px;
  color: red;
  margin-left: 30px;
}

.chatIcon {
  font-size: 20px;
  margin-left: 30px;
  color: #1890ff;
  cursor: pointer;
}
