.boxOfficeHit {
  color: green;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.boxOfficeFlop {
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.textDesign {
  font-weight: bold;
}

.listItemDesign {
  padding: 0px !important;
}

.btn {
  background-color: #8ac441;
  color: white;
  margin-top: 50px;
}
